<!-- Product section-->
<section class="" >
  <div class="container my-5"
       style="border: 1px solid rgb(235, 235, 235); border-radius: 15px;box-shadow: 0 0 6px rgb(226, 226, 226);">

    <!-- <div class="col-8 offset-2 mt-4 mb-4" *ngIf="isLoadingOrder">
        <div class="pull-right label label-info row col" style="min-height: 200px !important;">
            <div class="spinner-border" role="status"
                style="margin: auto; width: 6em;height: 6em; border: 0.7em solid black currentColor;">
            </div>
        </div>
    </div> -->
    <table class="table table-striped mt-5">
      <thead class="bg-secondary bg-gradient fs-6" >
      <tr>
        <th scope="col" >Mã Đơn hàng </th>
        <th scope="col" >Tên người nhận hàng</th>
        <th scope="col" >Tổng tiền</th>
        <th scope="col" >Địa chỉ</th>
        <th class="text-center" scope="col">Số điện thoại</th>
        <th scope="col">Ngày mua</th>
        <th class="text-center">Trạng Thái</th>
        <th class="text-center">Hành động</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of orders ; index as i">
        <td class="align-middle"><b>{{item.id}}</b></td>
        <td class="align-middle" >{{item.name}}</td>
        <td class="align-middle" >{{item.amount |currency:'VND' }}</td>
        <td class="align-middle" >{{item.phone}}</td>
        <td class="align-middle" >{{item.address}}</td>
        <td class="align-middle" >{{item.dateOrdered |date:'dd-MM-yyyy'}}</td>
        <td class="align-middle" > {{item.status==0?"Đã huỷ":item.status==1?"Chờ xác nhận":item.status==2?"Đang giao hàng":"Đã giao"}}</td>
        <td>

          <div class="d-flex d-flex align-items-center justify-content-center">
            <app-order-detail [orderId]="item.id"></app-order-detail>

            <div style="width: 10px;"></div>

            <a [ngClass]="{'disabled':item.status!=1}" style="cursor: pointer; color: orangered;" (click)='cancel(item.id)'><i class="fas fa-minus-circle"></i></a>

          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</section>
