.function{
  margin-bottom: 5px;
  background-color: #FFCC99	;
}
.slider{
  background-color: red;
  height: auto;
}.ct1{
 }
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
.header-menu :hover{
  background-color: #f3cbcb;

}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
.tb{
  width: 80%;
  margin-left: 10%;
  background-color: #FFCCCC;
}
.bd{
  background-color: #CCCCFF;
}
.function{
  margin-bottom: 5px;
  background-color: #FFCC99	;
}
.slider{
  background-color: red;
  height: auto;
}
.search{
  margin-left: 55%;
}

header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 50px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #333;
  text-decoration: none;
}

.search input {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 10px;
}

.login a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

.num :hover .k{
  display: block;
}

.drop :hover .ull{
  display: block;
}
.drop :hover{
  background-color: red;
}
