<h1>calculator</h1>
<div>
  <span>Number One :</span>
  <input type="number" #one [value]="onNumberOneChange(one.value)">
  <span>Number True :</span>
  <input type="Number"#two [value]="onNumberTwoChange(two.value)">

  <span>Toán tử</span>
  <select #operator (change)="onSelectChange(operator.value)"  >
    <option >chọn phép tính</option>
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
</div>
<button (click)="changeNumber()">Tính</button>

<!--{{output}}-->
<div >
  <input type="text" [value]="output">
</div>



