<div class="function">
  <nav class="navbar navbar-expand-lg header" style="height: 60px;background-color: #FF9966" >
    <div style="width: 50%;">
      <h5 style="margin-left: 80px; color: white; line-height: 40px;">Any Questions? Call Us: 0366009104</h5>
    </div>
    <div class="container-fluid">
<!--      <form class="d-flex" style="margin-left: 70%">-->
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
<!--      </form>-->
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg header" style="height: 80px; background-color: #FFFFFF;box-shadow: 2px 2px 5px 2px rgb(207 197 197);" >
    <div style="width: 20%; margin-left: 30px">
      <img src="https://conasi.vn/images/conasi/corporate/ACC-Furama.png" alt="" height="60px">
   </div>

    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style=" color: black;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ct-header" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ct-header" aria-current="page" href="#">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ct-header" aria-current="page" routerLink="/customer" >Customer</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ct-header" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Service
            </a>
            <ul style="background-color: #FFFFFF;box-shadow: 2px 2px 5px 2px rgb(207 197 197);" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item ct-header" routerLink="/villa">Villa</a></li>
              <li><a class="dropdown-item ct-header" routerLink="/house">House</a></li>
              <li><a class="dropdown-item ct-header" routerLink="/room">Room</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active ct-header" aria-current="page"routerLink="/contract">Contract</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>


