
<div class="container">

  <div class="col-12 p-0 mt-4">
    <div class="col">
      <h2 style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline;">
        Trang chủ</h2>
    </div>
    <div class="row mt-4">
      <div class="col-3">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body" style="font-size: 16px; font-weight: 500;">Đơn hàng
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                        </span>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" [routerLink]="['/admin/order']">Chi tiết</a>
            <div class="small text-white"><i class="bi bi-arrow-right-short"></i></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-warning text-white mb-4">
          <div class="card-body" style="font-size: 16px; font-weight: 500;">Doanh thu
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">Chi tiết</a>
            <div class="small text-white"><i class="bi bi-arrow-right-short"></i></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-success text-white mb-4">
          <div class="card-body" style="font-size: 16px; font-weight: 500;">Sản phẩm
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" [routerLink]="['/admin/products']">Chi tiết</a>
            <div class="small text-white"><i class="bi bi-arrow-right-short"></i></div>
          </div>
        </div>
      </div>
<!--      <div class="col-3">-->
<!--        <div class="card bg-info text-white mb-4">-->
<!--          <div class="card-body" style="font-size: 16px; font-weight: 500;">Khách hàng-->
<!--            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">-->
<!--                           5-->
<!--                        </span>-->
<!--          </div>-->
<!--          <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--            <a class="small text-white stretched-link" [routerLink]="['/admin/users']">Chi tiết</a>-->
<!--            <div class="small text-white"><i class="bi bi-arrow-right-short"></i></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>


  </div>

</div>
