<div class="row justify-content-center">
  <div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-1">
      <div class="card-header">
        <h1 class="text-center ">Thêm sản phẩm</h1>
      </div>
      <div class="card-body">
        <form focusInvalidInput [formGroup]="addProductFormGroup" (ngSubmit)="onSubmit()">

          <div class="form-group mb-3 required">
            <label for="name" class="fs-6 mb-2 control-label">Tên</label>
            <input id="name" (keyup) = "enableSubmited()" #myinputFirst (keydown.shift.tab)="onShiftKey($event)" formControlName="name"
                   class="form-control p-2 " type="text" placeholder="Tên" />
            <div *ngIf="submitted">
              <app-print-error [control]="name"></app-print-error>
            </div>
          </div>

          <div class="mb-3 form-group mb-3 required">
            <label for="category" class="fs-6 mb-2 control-label">Thể Loại</label>
            <div id="category" class="select-border">
              <select class="form-select form-select-md p-2" formControlName="category" >
                <option [ngValue] = "'Default'" disabled > --- Chọn Thể Loại --- </option>
                <option *ngFor="let tempProductCategory of productCategory" [ngValue] = "tempProductCategory" > {{ tempProductCategory.categoryName}} </option>
              </select>
            </div>
            <div *ngIf="submitted">
              <app-print-error [control]="category"></app-print-error>
            </div>

          </div>

          <div class="row mb-3 form-group mb-3 required">
            <div class="col-md-6">
              <label for="unitPrice" class="fs-6 mb-2 control-label">Giá</label>
              <input id="unitPrice" (keyup) = "enableSubmited()" formControlName="unitPrice" class="form-control p-2" type="number" placeholder="Giá" />
              <div *ngIf="submitted">
                <app-print-error [control]="unitPrice"></app-print-error>
              </div>

            </div>
            <div class="col-md-6 form-group mb-3 required">
              <label for="unitInStock" class="fs-6 mb-2 control-label">Số lượng</label>
              <input id="unitInStock" (keyup) = "enableSubmited()" formControlName="unitInStock" class="form-control p-2" type="number" placeholder="Số lượng" />
              <div *ngIf="submitted">
                <app-print-error [control]="unitInStock"></app-print-error>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="description" class="fs-6 mb-2">Mô tả</label>
            <textarea id="description" (keyup) = "enableSubmited()" formControlName="description" class="form-control p-2" type="text" placeholder="Mô tả"></textarea>
            <div *ngIf="submitted">
              <app-print-error [control]="description"></app-print-error>
            </div>
          </div>

          <div class="mb-3">
            <label for="image" class="fs-6 mb-2">Hình ảnh</label>
            <div class="row">
              <div class="col-md-6">
                <input id="image" type="file" accept="image/*" (change)="readUrl($event)" class="form-control"id="inputGroupFile01">
              </div>

              <div class="col-md-6">
                <img [src]="url" width="" id="blah" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
            <button type="submit" class="btn btn-success">Thêm</button>
            <div style="width: 10px;"></div>
            <button (click)="reset($event)" class="btn mr-5 btn-danger">Nhập lại</button>
            <div style="width: 10px;"></div>
            <button #myinputLast (keydown.Tab)="onKey($event)" (click) = "backClicked()"  class="btn mr-5 btn-primary">quay về</button>
          </div>


          <div class="d-flex align-items-center justify-content-end mt-4 mb-0">

          </div>
        </form>

      </div>

    </div>
  </div>
</div>


