<div>
  <div class="menu">
    <h1 style="float: left;color: #ffffff; line-height: 80px;position: absolute">List Customer</h1>

    <button class="btn btn-primary button-add" type="submit" routerLink="/add-customer">
      Thêm mới khách hàng
    </button>
  </div>
  <table class="table alert-dark">
    <tr>
      <th>STT</th>
      <th>Tên khách hàng</th>
      <th>Ngày sinh</th>
      <th>Giới tính</th>
      <th>Số CMND</th>
      <th>Số điện thoại</th>
      <th>Email</th>
      <th>Loại khách</th>
      <th>Địa chỉ</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of customers;let i=index">
      <td>{{i+1}}</td>
      <td>{{item.nameCustomer}}</td>
      <td>{{item.dayOfBirth}}</td>
      <td>{{item.sex}}</td>
      <td>{{item.cmnd}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.typeCustomer}}</td>
      <td>{{item.address}}</td>
      <td><a ></a></td>
    </tr>
  </table>
</div>
<div>
<!--  <app-add-customer (newCustomer) ="getNewCustomer($event)"></app-add-customer>-->
</div>
