<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="product.imageUrl" /></div>
      <div class="col-md-6">
        <div class="medium mb-1">Mã SP: {{product.id}}</div>
        <h1 class="display-5 fw-bolder">{{product.name}}</h1>

        <ngb-rating class="mb-2" [rate]="rate" [starTemplate]="" [readonly]="true" [max]="5"></ngb-rating>

        <div class="fs-5 mb-3">
                    <span
                      style="font-weight: bold; color: rgb(199, 61, 61);">{{product.unitPrice|currency:'VND'}}</span>

        </div>
        <div class="fs-5 mb-4">
                    <span>Thể loại: {{product.category.categoryName}}
                      <small style="font-size: 12px; font-style: italic;">(còn {{product.unitInStock}} sản phẩm.)</small>
                    </span>
        </div>
        <p class="lead">{{product.description}}</p>
        <div class="d-flex">
          <button class="btn btn-outline-dark flex-shrink-0" type="button"
                  (click)="addCart(product.id, product.unitPrice)">
            <i class="bi-cart-fill me-1"></i>
            Thêm vào giỏ
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <h3 style="font-weight: bold; font-size: 20px;">Đánh giá nhận xét về sản phẩm</h3>
<!--        <select class="form-select mb-2" style="width: 10%; margin-left: 90%;" [(ngModel)]="rateSize" *ngIf="rates.length>0">-->
<!--          <option value="5">Hiển thị 5</option>-->
<!--          <option value="10">10</option>-->
<!--          <option value="25">25</option>-->
<!--          <option value="50">50</option>-->
<!--        </select>-->
      <div class="border rounded p-3" *ngIf="rateLength==0">
        <i class="text-center">Sản phẩm này chưa có đánh giá nào!</i>
      </div>
      <div class="row border rounded p-3" style="display: flex; justify-content: center; align-items: center">
        <div class="col-10">
          <textarea name="rate" id="rate" cols="30" rows="5" style="width: 100%" [(ngModel)]="content"></textarea>
        </div>
        <div class="col-2">
          <button style="height: fit-content" class="btn btn-info" (click)="addRates(userId, productId)">Gửi đánh giá</button>
        </div>
          <div class="col-12">
            <span>Đánh giá:</span>

<!--            <ngb-rating class="ms-2" [rate]="star" [starTemplate]="t" [readonly]="false" [max]="5"></ngb-rating>-->
<!--            <ngb-rating class="mb-2" [rate]="getStar()" [starTemplate]="t" [readonly]="false" title="{{getStar()}} sao" [max]="5"></ngb-rating>-->
        </div>

      </div>
      <div class="border rounded" *ngIf="rateLength !== 0">
        <mat-list>
          <!-- <mat-list-item *ngFor="let item of ratesI |orderBy:'rateDate':true| paginate: { itemsPerPage: rateSize, currentPage: 1 }" -->
          <mat-list-item *ngFor="let item of rates"  class="mb-5 mt-4">
            <img src="assets/ava.jpg" style="width: 50px;" class="img-fluid p-2 col-3">
            <div class="col-9">
              <span style="font-weight: bold;">{{item.userId}}</span>
              <ngb-rating class="ms-2" [rate]="item.start" [starTemplate]="" [readonly]="true"
                          [max]="5"></ngb-rating>
              <p>{{item.comment}}</p>
              <i style="font-size: 12px;">{{item.dateRate|date:'dd-MM-yyyy'}}</i>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5">
  <div class="container px-4 px-lg-5">
    <h2 class="fw-bolder mb-4">Gợi ý sản phẩm</h2>
    <!-- <div class="row" *ngIf="isLoading">
        <div class="pull-right label label-info row col" style="min-height: 400px !important;">
            <div class="spinner-border" role="status"
                style="margin: auto; width: 6em;height: 6em; border: 0.7em solid black currentColor;">
            </div>
        </div>
    </div> -->
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
      <div class="col mb-5 p-1"
           *ngFor="let item of productsSuggest">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
          </div>
          <!-- Product image-->
          <img class="card-img-top" [src]="item.imageUrl" [routerLink]="['/item-detail/'+item.id]"
               style="cursor: pointer;" />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h4 class="fw-bolder" [routerLink]="['/item-detail/'+item.id]"
                  style="cursor: pointer;">{{item.name}}</h4>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <!-- <ngb-rating class="mb-2" [rate]="getStar(item.productId)" [starTemplate]="t" [readonly]="true" title="{{getStar(item.productId)}} sao" [max]="5"></ngb-rating> -->
              </div>
              <span style="font-weight: bold;">{{item.unitPrice|currency:'VND'}}</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                        (click)="addCart(item.id,item.unitPrice)">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- star -->
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100" style="font-size: 90%;">
        <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
        </span>
        <i class="fa fa-star"></i>
    </span>
</ng-template>
