<div class="card">

  <div class="row mt-2 p-3">

    <div class="col-md-6"></div>

    <div class="col-md-6 text-end"><button routerLink="create" type="button" class="btn btn-success fs-5"><b>Thêm mới thể loại  </b> <i class="fas fa-plus-circle"></i></button></div>

  </div>

  <div class="row p-3">

  </div>

  <div class="card-body">

    <table class="table table-striped">
      <thead class="bg-secondary bg-gradient fs-7" >
      <tr style="width: inherit">
        <!--        <th scope="col" style="width: 2%">Id </th>-->
        <th scope="col" style="width: 12%">Mã thể loại</th>
        <th scope="col" style="width: 16%">Tên</th>
        <th scope="col" style="width: 12%">Trang thái</th>
        <th scope="col" style="width: 60%">Mô tả</th>
        <th class="text-center" scope="col">Thao tác</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let tempProduct of productCategories ; index as i">
        <td class="align-middle"><b>{{tempProduct.id}}</b></td>
<!--        <td class="align-middle">{{tempProduct.categoryName}}</td>-->
        <td class="align-middle"><div ngbTooltip="{{tempProduct.categoryName}}" tooltip-append-to-body="true">
          {{ (tempProduct.categoryName.length>255)? (tempProduct.categoryName | slice:0:255)+'...':(tempProduct.categoryName) }}</div></td>
        <td class="align-middle" *ngIf="!tempProduct.active"><b><i style="color: red" class="fas fa-ban"></i></b></td>
        <td class="align-middle" *ngIf="tempProduct.active === true"><b><i style="color: lime" class="fa-solid fa-planet-moon"></i></b></td>
        <td class="align-middle"><div ngbTooltip="{{tempProduct.description}}" tooltip-append-to-body="true">
          {{ (tempProduct.description.length>255)? (tempProduct.description | slice:0:255)+'...':(tempProduct.description) }}</div></td>

        <!-- <ng-template  #tipContent>{{tempProduct.description}}</ng-template> -->
        <td>

          <div class="d-flex d-flex align-items-center justify-content-end" >

            <button ngbTooltip="Xem chi tiết" tooltip-append-to-body="true" (click) = "detail(tempProduct.id)" class="btn mr-5 btn-warning "><i class="fas fa-info-circle"></i></button>

            <div style="width: 10px;"></div>

            <button ngbTooltip="Cập nhật" tooltip-append-to-body="true" (click) = "update(tempProduct.id)"  class="btn mr-5 btn-primary"><i class="fas fa-pen"></i> </button>

            <div style="width: 10px;"></div>

            <button ngbTooltip="Xoá" tooltip-append-to-body="true"  (click)="deleteCate(tempProduct.id)" class="btn btn-danger "><i class="far fa-trash-alt"></i></button>


          </div>

        </td>
      </tr>

      </tbody>
    </table>
    <div *ngIf="productCategories?.length === 0" class="alert alert-warning text-center" role="alert">
      <b>Không tìm thấy sản phẩm</b>
    </div>
  </div>

  <div *ngIf="productCategories?.length !== 0" class="footer-pagination p-2">

    <div class="row">

      <div class="col-md-7 pl-2 mt-2">
              <span class="ml-2">
                &nbsp;&nbsp; Hiển thị
              </span>
        <select (change) = "updatePageSize($event.target.value)">
          <option >5</option>
          <option >10</option>
          <option selected = "true">20</option>
          <option >50</option>
        </select>
      </div>

      <div class="col-md-5 ml-5">
        <div class="row ">
          <div class="col-md-5 mt-2" style="text-align: right; color: black;">
            Hiển thị {{ (thePageNumber - 1) * thePageSize + 1 }} - {{ itemPerPage }} của {{ theTotalElements }}
          </div>
          <div class="col-md-7">
            <ngb-pagination [(page)] = "thePageNumber"
                            [pageSize] = "thePageSize"
                            [collectionSize] = "theTotalElements"
                            (pageChange) = "listCategories()"
                            [boundaryLinks]="true"
                            [maxSize]="3"
                            [rotate]="true"
            >

            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
