.nav {
  height: 30px;
  width: 100%;
  background: var(--bs-body-color);
  margin-bottom: 150px;
}

.content header{
  font-size: 28px;
  margin: 10px 0;
}

.content .field{
  display: flex;
  align-content: center;
  justify-content: center;
}

.signup{
  margin: 15px 0;
}

