table{
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
}

th, td {
  text-align: left;
  padding: 8px;
  height: 80px;
  font-size: 20px;
}

tr:nth-child(even){
  background-color: rgba(85, 153, 137, 0.93);
}

th {
  background-color: #FF00FF	;
  color: white;
}

/*menu*/
.menu{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  height: 80px;
  background-color: rgba(18, 106, 79, 0.93);
  position: relative;
}
.button-add{
  height: 50px;
  width:20%;
  padding: 0px;
  margin-top: 15px;
  margin-left: 75%;
  position: absolute;
}
