<div>
  <div class="menu">
    <h1 style="float: left;color: #ffffff; line-height: 80px;position: absolute">List Room</h1>

    <button class="btn btn-primary button-add">Thêm mới Room</button>
  </div>
  <table class="table alert-dark">
    <tr>
      <th>STT</th>
      <th>Tên dịch vụ</th>
      <th>Diện tích sử dụng</th>
      <th>Chi phí thuê</th>
      <th>Số lượng người tối đa</th>
      <th>Kiểu thuê</th>
      <th>Dịch vụ miễn phí đi kèm</th>
    </tr>
    <tr *ngFor="let item of rooms;let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.area}}</td>
      <td>{{item.price}}</td>
      <td>{{item.peopleOfNumber}}</td>
      <td>{{item.rentalType}}</td>
      <td>{{item.freeServiceIncluded}}</td>

    </tr>
  </table>
</div>
