
<link rel="stylesheet" href="register.component.css">
<h1 style="text-align: center">Đăng kí tài khoản</h1>
<div class="container">
  <form action="" [formGroup]="registerForm" (ngSubmit)="registerUser()" >
    <table class="table">
      <tr>
        <td>
          Email
        </td>
        <td>
          <input type="text" formControlName="email" name="email">
        </td>
      </tr>

      <tr>
        <td>
          Password
        </td>
        <td>
          <input type="password" formControlName="password" name="password">
          <p style="color: red" *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched">Pass không đúng định dạng</p>
<!--          <input type="checkbox" >-->
        </td>
      </tr>
      <tr>
        <td>
          Confirm Password
        </td>
        <td>
          <input type="password" formControlName="confirmPassword" name="confirmPassword">
        </td>
      </tr>
      <tr>
        <td>
          Country
        </td>
        <td>
          <input type="text" formControlName="country" name="country">
        </td>
      </tr>
      <tr>
        <td>
          Age
        </td>
        <td>
          <input type="text" formControlName="age" name="age">
        </td>
      </tr>
      <tr>
        <td>
          Gender
        </td>
        <td>
          <input type="radio" id="nam" name="fav_language" value="HTML" formControlName="gender">
            <label for="nam">Nam</label>
            <input type="radio" id="nu" name="fav_language" value="CSS" formControlName="gender">
            <label for="nu">Nữ</label>
        </td>
      </tr>
      <tr>
        <td>
          Phone
        </td>
        <td>
          <input type="text" formControlName="phone" name="phone">
        </td>
      </tr>
      <button type="submit">Đăng kí</button>
    </table>
  </form>
</div>
